body {
    font-family: "Inter", sans-serif;
}


#hed {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
}

@media screen and (max-width: 1250px){
    #hed {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#main-title {
    margin-right: auto;
    white-space: nowrap;
    padding-left: 1rem;
}

@media screen and (max-width: 1250px) {
    #main-title {
        margin-right: 0;
        white-space: nowrap;
        padding: 1rem;
    }
}

.navButt {
    transition: all 0.1s ease-out;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    box-shadow: inset 0 0 0 0 black;
    border-radius: 40px;
    display: flex;
    align-items: center;
    height: auto;
    min-height: 4rem;
    margin-right: 8px;
}

    .navButt:hover {
        box-shadow: inset 0 0 0 2px black;
        background-color: rgb(240, 240, 240);
        transition: all 0.2s ease-in;
    }

#borderbuton {
    transition: all 0.1s ease-out;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    box-shadow: inset 0 0 0 0 black;
    height: 4rem;
    display: flex;
    align-items: center;
    height: auto;
    min-height: 4rem;
    color: white;
    background-color: black;
    border-radius: 40px;
    border: 3px solid black;
}

    #borderbuton:hover {
        color: black;
        background-color: rgb(240, 240, 240);
        transition: all 0.3s ease-in;
    }

#moon {
    width: 20px;
    height: 20px;
}

#darkmod2 {
    background-color: transparent;
    border: 0 solid black;
    border-radius: 40px;
    margin-left: auto;
    align-self: flex-start;
}

    #darkmod2:hover {
        background-color: transparent;
        border: 0 solid black;
        box-shadow: 0px 1px 1px 1px rgb(90, 90, 90);
        transform: scale(1.05);
        transition: all 0.3s ease-in-out;
    }

#glowny-content {
    border-radius: 20px;
    border: 2px solid black;
    padding: 5px;
    transition: all 0.4s;
}
#glowny-content:hover {
    border-radius: 20px;
    border: 2px solid black;
    padding: 5px;
    box-shadow: 0 0 4rem darkgrey;
    transform: translateY(-1rem) scale(1.05);
}
#sekcjatytul {
    padding-left: 5rem;
    font-size: 5rem;
}
#iconopinia {
    padding-left: 5rem;
}
#sekcjatytul, #iconopinia {
    display: inline-block;
    vertical-align: middle;
}
#sectionText {
    text-indent: 30px;
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: 2rem;
    text-align: left
}
section{
    margin-top:5rem;
}

.darkmode body {
    background-color: black;
    color: white;
}

.darkmode nav {
 background-color: black;
 color:white;
}

.darkmode a {
    color: white;
}

.moon {
  filter: invert(0); 
  transition: filter 0.3s ease;
}

.darkmode .moon {
  filter: invert(1);
}
