
html, body {
    height: 100%;
    margin: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: Arial, sans-serif;
    font-size: 12px;
    background: linear-gradient(to bottom, #a1866f, #f5e3c8);
    width:100%;
}

header
{
    background-color: aliceblue;

}

#Logo {
    height: 100px;
    text-align: center;
    width: 100%;
    margin: 0px auto;
    background-color: #a4753b;
    font-size: 7.5rem;
}
.side-nav {
    position: fixed;
    top: 0;
    left: -180px; 
    width: 180px;
    height: 100vh;
    background-color: #f0f0f0;
    transition: left 0.3s ease;
    padding: 20px;
    z-index: 1000;
}
.side-nav:hover {
        left: 0;
}
.navLi {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 5px;
    border: 2px solid green;
    width: 181px;
}

nav ul
{
    list-style: none;
    color:black;
    
}

#searchbar {
    text-align: center;
}

a:link
{
    text-decoration: none;
    color:black;

}

footer
{
    
    text-align: center;
    
}

#SekcjaSrodkowy
{
    margin: 0 auto;
    width: 100%;
}

#oceny
{
    background-color: gainsboro;
    width:auto;
    text-align: center;
    width:20rem;
}



#zdjksiazki
{
    width:15rem;
    margin:2rem;
    padding:1rem;
}

.kontener
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
    
}

h4
{
    text-align: center;
    margin:1rem;
}

#info
{
    background-color: ghostwhite;
    width:20rem;
    height: 100%;
    padding:1rem;

}

#userreview
{
    background-color: gray;
    width:20rem;
}

footer
{
    background-color: white;
    width: auto;
}
