
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 12px;
    background: linear-gradient(to bottom, #a1866f, #f5e3c8);
}

header
{
    background-color: aliceblue;

}

#Logo {
    height: 100px;
    text-align: center;
    width: 100%;
    margin: 0px auto;
    background-color: #a4753b;
}
nav
{
    background-color: aliceblue;

}
.navLi {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 5px;
    border: 2px solid green;
    width: 181px;
}

nav ul
{
    list-style: none;
    color:black;
    
}

a:link
{
    text-decoration: none;
    color:black;

}

footer
{
    text-align: center;
    
}

